.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url("./Immagini/download.jpg");
  background-size: 100% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.titoloSezionePagina {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.divErrore {
  color: red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.divEsterna {
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px #000;
}

.divEsterna a {
  color: black;
  padding: 10px;
  text-decoration: none;
  font-size: 17px;
}

.divEsterna a:hover {
  background-color: transparent;
  background-color: #d6d6d6;
}
.divInterna {
  background-color: white;
  position: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px #000;
  border-radius: 10px;
}

.container {
  display: grid;
  grid-template-columns: 0.3fr 2.2fr 0.5fr;
  grid-template-rows: 0.3fr 2.5fr 0.2fr;
  gap: 0px 0px;
}
.App {
  grid-area: 1 / 1 / 4 / 4;
}
.Navbar {
  grid-area: 1 / 1 / 2 / 4;
}
.BodyArea {
  justify-self: stretch;
  grid-area: 2 / 1 / 4 / 4;
}
.Menu {
  grid-area: 1 / 1 / 2 / 2;
}
.Search {
  grid-area: 1 / 3 / 2 / 4;
}
.ButtonsNavbar {
  grid-area: 1 / 2 / 2 / 3;
}
.FormArea {
  grid-area: 2 / 2 / 3 / 3;
}
